<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/coding/' %} active {% endif %}"><a href="{{ "/coding/" | absolute_url }}">Coding</a></li>
  <li class="{% if page.url contains '/travel/' %} active {% endif %}"><a href="{{ "/travel/" | absolute_url }}">Travel</a></li>
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/prajwalinbizz" target="_blank" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/prajwalkulk4rni" target="_blank" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/prajwalkulkarni_" target="_blank" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/prajwalkulkarni" target="_blank" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://linkedin.com/in/prajwal-kulkarni" target="_blank" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
</ul>
